#notes{
    width: 800px;
    height: 800px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    margin: 0 auto;
    top: 50px;
}
#new{
    margin-top:100px;
}
input[type='text']{
     width:200px;
     padding: 10px 25px 10px 25px;
     margin-bottom: 15px;
     margin-top: 15px;
     border-radius: 2rem;
     border-color: var(--primary-color);
}
textarea{
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5%;
    border-color: var(--primary-color);
}
#save-button{
     padding: 10px 25px 10px 25px;
     font-size: 25px;
     border-radius: 10%;
     background-color: var(--primary-color);
     color: var(--secondary-color);
  
}
#save-button:hover{
    color: var(--primary-color);
 
    background-color: var(--accent-color);

}
input[type='text']:focus, textarea:focus{
    outline: none !important;
    border-color: var(--secondary-color);
}

#notes-list{
    position: absolute;
    width: 40%;
}

.list-item{
    padding-top: 7px;
    padding-bottom: 7px;
}
.list-item>h3{
    font-size: 30px;
    color: var(--accent-color);
    margin-left: 10%;
    font-weight: bold;

}
.selected{
    background-color: #b9bece;
}
.divider {
    position: absolute;
    left: 40%;
    width: 1px;
    height: 100%;
    border-left: 2px solid var(--secondary-color);
  }
#notes-display{
    position: absolute;
    left:50%; 
    width: 50%;
}
#note-container{
    border-radius: 2rem;
    width: 50%;
    border: 5px dashed var(--primary-color) ;
    position: relative;
}
#note-container>h3{
    font-size: 2rem;
    color: var(--accent-color);

    font-weight: bold;
    font-style: italic;
}
#note-container>p{
    font-size: 20px;
    inline-size: 180%;
    line-height: 150%;
}
#remove-button{
    position: absolute;
    top: 10px;
    left: 300px;
    color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 24px;
    cursor: pointer;
    /*TODO: remove display none  */

}
#remove-button:hover{
    background-color: var(--accent-color);
    
}
#new>button{
    border: 4px solid var(--accent-color);
    width: 4rem;
    height: 4rem;
    font-size: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
#new>button:hover{
    border: 4px solid var(--primary-color);
     color:var(--primary-color) ;
    background-color:var(--accent-color) ;
}
.hidden{
display: none;
}
