
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --background-color:#31314B;
  --primary-color:#F7F7F7;
  --secondary-color:#75849B;
  --accent-color:#5D739A;
 
}
body {
font-family: Raleway, sans-serif;
background-color:var(--background-color);
}


